header{
  background: #EDF04F;
  display: flex ;
  justify-content: space-between;
}
#logo{
  background-image: url("images/logo01.png");
  background-repeat: no-repeat;
  width: 161px;
  height: 72px;
  display: block;
  text-align: center;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
body{
  margin: 0px;
}
#nav-pc{
  font-size: 20px;
  font-weight: bold;
  margin: 30px;
}
.main-photo{
  width: 100%;
  height: 990px;
  object-fit: cover;
}
.top-right{
  position: absolute;
  top: 300px;
  right:135px;
  color: #9A9C21;

  text-shadow: 3px 4px 4px #EDF04F;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#profile-flex{
  display: flex;
  justify-content: space-between;
}
.inner{
  width: 800px;
  margin: 0 auto;
}
#profile{
  background-color: #FEFFE4;
}
.profile-comment{
  line-height: 40px;
}



.inner-skill{
  width: 50%;
  margin: auto;
}
#skill-logo{
  display: flex;
  justify-content: space-between;
  
}
.skill-comment{
  text-align: center;
  line-height: 30px;
}
.jsetc{
  font-weight: bold;
  font-size: 20px;
}
.vision-box{
  display: flex;
  
}
#service{
  background-color: #F5F5F5;
  padding: 60px 0;
}
.inner-service{
  width: 55%;
  margin: auto;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.service_frame{
  background-image: url(images/service-frame.png);
  background-repeat: no-repeat;
  display: block;
  padding: 40px;
  padding-top: 0;
  margin: 40px;
  width: 300px;
  height: 190px;
  background-size: contain;
}

.service_moji{
  padding-top: 30px;
  padding-left: 15px;
}
.works-inner{
  width: 800px;
  margin: 0 auto;
}
.works-box{
  display: flex;
  justify-content: space-between;
  text-align: center;
}
#workflow{
  background-color: #F5F5F5;
}
.workflow-inner{
  width: 800px;
  margin: 0 auto;
}
.workflow_frame{
  background-image: url(images/workflow_frame.png);
  background-repeat: no-repeat;
  display: block;
  padding: 40px;
  padding-top: 0;
  margin: 10px;
  width: 300px;
  height: 190px;
  background-size: contain;
}
.workflow_moji{
  padding-top: 20px;
}
.workflow_moji h3{
  text-align: center;
}
.flex{
  display: flex;
  justify-content: space-between;
}

#contact{
  background-color: #FEFFE4;
}
.inner-contact{
  width: 800px;
  margin: 0 auto;
}
.mint-frame {/*親div*/
  position: relative;/*相対配置*/
  }

.mint-frame p {
  position: absolute;/*絶対配置*/
  color: black;
  top: 40px;
  right: 24px;
  text-align: center;
  }
.mint-comment{
  line-height: 40px;
  font-size: 18px;
  }
.mint-image{
  width: 300px;
  height: 300px;
  border-radius: 50%;
}
.inner-hobby{
  width: 800px;
  margin: 0 auto;
 } 
.hobby-flex{
  display: flex;
  justify-content: space-between;
 }
.footer-img{
  background-image: url(images/header.png);
  text-align: center;
}
